* {
    font-family: Montserrat;
    box-sizing: border-box;
    margin: 0;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 10px;
}

button:active {
    outline: none;
}

button > svg {
    margin-right: 8px;
}

button > svg > path {
    fill: currentColor;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 95px;
    padding: 20px 80px 20px 80px;
    background: white;
    border-bottom: 1px solid #EBEFF1;
    position: sticky;
    top: 0;
    z-index: 10;
}

#share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #3448C5;
}

.footer {
    display: none;
}

.flex-row {
    display: flex;
    align-items: center;
}

#site-header {
    font-family: Abril Fatface;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    margin-right: 30px;
    border-right: 1px solid #EBEFF1;
    padding-right: 30px;
}

.demo-signature {
    height: 55px;
}

a.signup-button {
    width: 100%;
    height: auto;
    margin-top: 60px;
    border-radius: 4px;
    background: #3448C5;
    color: white;
    text-align: center;
    padding: 16px;
}

.content {
    padding: 40px 80px 110px 80px;
}

#empty-message {
    display: none;
    font-size: 20px;
    font-weight: 600;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

@media only screen and (min-width: 1921px) {
    .content {
        max-width: 1920px;
        margin: 0 auto;
    }
}

.page-layout {
    display: flex;
    justify-content: space-around;
    max-width: 1800px;
    margin: 40px auto;
}

#assets-container {
    display: flex;
    flex-wrap: wrap;
    width: 1004px;
    gap: 2px;
}

.asset > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.asset-img, .asset-video, .asset-spin {
    position: relative;
    width: 500px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    overflow: hidden;
}

.asset-img .product-image {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

.product-video video{
    width: 100%
}

.product-image img {
    width: 100%;
    max-height: 100%;
}

.product-image.hide-img img{
    opacity: 0;
    transition: opacity 100ms;
}

#three-d-viewer {
    display: none;
    width: 1002px;
    height: 600px;
    opacity: 1;
    background: #F6F6F6;
}

#three-d-viewer.show {
    display: block;
}

#product-details {
    display: none;
}

#product-details.show {
    display: flex !important;
    flex-direction: column;
    width: 400px;
    padding: 0 10px 0 40px;
    background: white;
    position: sticky;
    top: 120px;
    align-self: flex-start;
}

.p-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

#title-mobile.p-title {
    display: none;
}

.p-price {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

.p-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 25px;
}

.p-description > span {
    font-weight: 600;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.asset .error-message {
    width: 0;
    height: 0;
    opacity: 0;
}

.asset.asset-error .error-message {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
}

.asset.asset-error .product-image, .asset.asset-error .product-video {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.error-bold {
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    .header {
        display: none;
        width: 0;
    }

    .content {
        padding: 20px 30px 50px;
    }

    .demo-signature {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: fixed;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: white;
        border-top: 1px solid #EBEFF1;
        border-bottom-width: 0;
        overflow: hidden;
    }

    .footer > img {
        height: 100%;
    }

    .page-layout {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    #assets-container {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .asset-img, .asset-video {
        width: 100%;
        height: auto;
    }

    #title-mobile.p-title.show {
        display: block;
        margin-bottom: 20px;
    }

    #product-details.show {
        width: 100%;
        padding: 0;
        position: unset;
        margin-bottom: 40px;
    }

    .signup-button {
        display: none;
    }

    .signup-button.mobile {
        display: block;
        margin: 0;
        width: fit-content;
        height: auto;
        padding: 10px;
        font-size: 12px;
    }

    .product-image img {
        width: 100%;
        height: 100%;
    }

    #three-d-container {
        width: 100%;
        max-height: 600px;
    }

    #three-d-viewer {
        max-height: 600px;
        width: 100%;
    }

    .tooltiptext {
        display: none;
    }
}
